<section class="artistinfo">
  <div class="artist cf" ng-model="artists">
    <a href="#details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#details/{{nextItem}}" class="btn btn-right">&gt;</a>
    <h1>{{artists[whichItem].name}}</h1>
    <div class="info">
      <!-- <h3>{{artists[whichItem].dob}}</h3> -->
      <img ng-src="images/{{artists[whichItem].shortname}}.jpg" alt="Photo of {{artists[whichItem].name}}">
      <h3>{{artists[whichItem].dob}}</h3>
      <div class="bio">{{artists[whichItem].email}}</div>
    </div>
  </div>
  <a href="index.html">&laquo;Back to Search</a>
</section>
