<section>
  <div class="main-wrapper">


  <div class="search">
    <h1><center>MCA 2014-2017</center></h1>
    <label>Search: </label>
    <input ng-model="query" placeholder="Search for your friends" autofocus>

    <label class="formgroup">By:
      <select ng-model="artistOrder">
        <option value="name">Name</option>
        <option value="place">Place</option>
      </select>
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
     </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>
 </div>
 </div>
  <div class="newlist">
  <ul class="artistlist">
    <li ng-animate="'animate'" class="artist cf" ng-repeat="item in artists | filter: query | orderBy: artistOrder:direction">
      <a href="#/details/{{artists.indexOf(item)}}">
        <img ng-src="images/{{item.shortname}}.jpg" alt="Photo of {{item.name}}">
        <div class="info">
           <h2>{{item.name}}</h2>
           <h3>{{item.place}}</h3>
           <h3>{{item.email}}</h3>
        </div>
      </a>
    </li>
  </ul>
 </div>
 <footer>
 <p style="color:#c9ced6;">Contact Us: <a style="color:#c9ced6;" href="https://about.me/rajputankit22">Ankit kumar Rajpoot</a> & <a style="color:#c9ced6;" href="https://about.me/sk_mishra">Saurabh Mishra</a></p>
 </footer>

</section>
